body::after {
  content: "";
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(7, 7, 7, 0.8);
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}


input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 9px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.textarea {
  resize: both;
  overflow: hidden;
}

.input:invalid {
  color: red;
}

.profile-modal__row-error::after {
  background: linear-gradient(89.98deg, #E65000 0%, #C73C02 47.4%, #A82702 100%), #C4C4C4 !important;
  border-radius: 3px;
}

.input:valid {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 9px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input:-ms-input-placeholder,
.input::-ms-input-placeholder,
.input::placeholder {
  color: transparent;
  font-size: 10px;
}

textarea.input {
  /* resize: none; */
  /* padding: 0px 0px; */
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input-error {
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  color: red;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked+.checkbox__label::after {
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29px;
  flex: 0 0 29px;
  width: 29px;
  height: 29px;
  border: 2px solid #329BF8;
  border-radius: 5px;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 5px;
  left: 5px;
  background: -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  background: linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.checkbox__label-error::before {
  border-color: red;
}

.checkbox__text {
  font-size: 0.9375rem;
  line-height: 1.2;
}

.checkbox__text a {
  color: #329BF8;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.875rem;
  padding: 9px 10px;
  gap: 0.625rem;
  font-size: 16px;
  line-height: 1.1875;
}

.select__value>* {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url("/images/modals/arr-right-sel.svg") 0 0/20px no-repeat;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background: rgba(4, 18, 34, 0.97);
  border-top: 0;
  border: 1px solid #329BF8;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #329BF8;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.reset-success {
  color: #00FF7F;
}

.contact-success {
  color: #00FF7F;
  font-size: 1.1rem;
  text-align: center;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.popup__content {
  width: 100%;
  max-width: 35.5rem;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: rgba(4, 18, 34, 0.97);
  -webkit-box-shadow: 0px 4px 30px rgba(48, 202, 255, 0.8);
  box-shadow: 0px 4px 30px rgba(48, 202, 255, 0.8);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  cursor: initial;
}

.popup__content--wide {
  max-width: 43.5625rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  outline: none;
  background-color: transparent;
}

.popup__close svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
}

.profile-modal {
  color: #fff;
}

.profile-modal__title {
  margin: 0 0 1.25rem 0;
  font-weight: 700;
  line-height: 1.1666666667;
}

.profile-modal__row {
  position: relative;
}

.profile-modal__row:not(:last-child) {
  margin: 0 0 1.25rem 0;
}

.profile-modal__row:not(.profile-modal__row--upload)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -o-linear-gradient(0.02deg, #30CAFF 0%, #329BF8 47.4%, #3373F2 100%), #C4C4C4;
  background: linear-gradient(89.98deg, #30CAFF 0%, #329BF8 47.4%, #3373F2 100%), #C4C4C4;
  border-radius: 3px;
}

.profile-modal__label-upload {
  font-size: 0.9375rem;
  line-height: 1.2;
}

.profile-modal__upload-button {
  display: block;
  padding: 3px;
  background: -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) padding-box, -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  background: linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) padding-box, linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  border-radius: 5px;
}

.profile-modal__upload-button span {
  position: relative;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(4, 18, 34, 0.97);
}

.profile-modal__btns:not(:last-child) {
  margin: 0 0 1.5625rem 0;
}

.profile-modal__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 223px;
  flex: 0 1 223px;
  line-height: 1.1666666667;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.37);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.37);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  color: #fff;
}

.profile-modal__button:hover {
  cursor: pointer;
}

.profile-modal__button:not(.profile-modal__button--second) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  background: linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  border: 3px solid transparent;
}

.profile-modal__button--second {
  display: block;
  padding: 3px;
  background: -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) padding-box, -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
  background: linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) padding-box, linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%) border-box;
}

.profile-modal__button--second span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(4, 18, 34, 0.97);
}

.profile-modal__button--second span::after {
  content: "sign up";
  background: -o-linear-gradient(187.1deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%);
  background: linear-gradient(262.9deg, #30CAFF 0%, #329BF8 54.17%, #3373F2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.profile-modal__recover {
  background-color: transparent;
  margin-top: 15px !important;
  display: block;
  color: #329BF8;
  font-weight: 700;
  line-height: 1.2;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.profile-modal__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-modal__item-social {
  overflow: hidden;
}

.profile-modal__item-social svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
}

.profile-modal__caption {
  margin: 0 0 0.625rem 0;
  font-size: 16px;
  line-height: 1.1875;
}

.profile-modal__col:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50.8474576271%;
  flex: 0 1 50.8474576271%;
  margin: 0 1.25rem 0 0;
}

.profile-modal__col:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 37.7966101695%;
  flex: 0 1 37.7966101695%;
}

.profile-modal__contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.37);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  color: #fff;
}

.profile-modal__contact-button:not(:last-child) {
  margin: 0 0 20px 0;
}

.profile-modal__contact-button img,
.profile-modal__contact-button svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
  margin: 0 5px 0 0;
}

.profile-modal__contact-button--skype {
  background-color: #30CAFF;
}

.profile-modal__contact-button--discord {
  background-color: #5963C4;
}

.profile-modal__contact-button--whatsapp {
  background-color: #59C45D;
}

.profile-modal__contact-button--telegram {
  background-color: #329BF8;
}

.profile-modal__contact-button--email {
  background-color: #0026AC;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.text-elipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-button-lock {
  display: none;
}

.swiper-button-disabled {
  opacity: 0.2;
  cursor: auto;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) {
  margin: 1.5625rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock).industries__controls span {
  background-color: rgba(7, 5, 70, 0.2);
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span {
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span:not(:last-child) {
  margin: 0 0.625rem 0 0;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span.swiper-pagination-bullet-active {
  background-color: var(--add-color);
}

.menu__link {
  position: relative;
  white-space: nowrap;
  color: var(--blue-add);
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-add);
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

@media (min-width: 29.99875em) {
  .popup__close {
    top: 30px;
    right: 30px;
  }

  .profile-modal__rows {
    margin: 0 0 2.8125rem 0;
  }

  .profile-modal__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile-modal__button {
    font-size: 1.125rem;
  }

  .profile-modal__button:not(.profile-modal__button--second) {
    padding: 20px;
  }

  .profile-modal__button:not(:last-child) {
    margin: 0 1.375rem 0 0;
  }

  .profile-modal__button--second span {
    padding: 20px;
    font-size: 1.125rem;
  }

  .profile-modal__recover {
    margin: 0 0 1.375rem 0;
    font-size: 0.9375rem;
  }

  .profile-modal__text-social {
    margin: 0 0 1.25rem 0;
    font-size: 0.9375rem;
  }

  .profile-modal__item-social:not(:last-child) {
    margin: 0 1.25rem 0 0;
  }

  .profile-modal__checkboxs {
    margin: 0 0 2.5rem 0;
  }

  .profile-modal__checkbox:not(:last-child) {
    margin: 0 0 1.5rem 0;
  }
}

@media (min-width: 47.99875em) {
  .profile-modal__row--upload input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .profile-modal__label-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile-modal__label-upload>span {
    cursor: pointer;
  }

  .profile-modal__label-upload>span:first-child {
    opacity: 0.8;
    margin: 0 1.25rem 0 0;
  }

  .profile-modal__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 61.99875em) {
  .popup__content {
    padding: 3.125rem 3.125rem 3.75rem;
    border-radius: 2.5rem;
  }

  .thanks .popup__content {
    padding: 2.5rem;
  }

  .menu__item:not(:last-child) {
    margin: 0 2.5rem 0 0;
  }
}

@media (max-width: 61.99875em) {
  .profile-modal__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: var(--white);
    padding: 8.75rem 1rem 1.5rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100px;
    left: -100%;
    top: 0;
    background-color: var(--white);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    margin: 0 0 1.875rem 0;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }

  .menu__link {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  :root {
    --main-offsize: 1rem;
    --title-offsize: 1.875rem;
  }

  .popup__content {
    padding: 1.875rem 1.25rem 1.5625rem;
  }

  .popup__close {
    top: 5px;
    right: 10px;
  }

  .popup__close svg {
    width: 24px;
    height: 24px;
  }

  .profile-modal__title {
    font-size: 22px;
  }

  .profile-modal__rows {
    margin: 0 0 1.5625rem 0;
  }

  .profile-modal__button {
    font-size: 1rem;
  }

  .profile-modal__button:not(.profile-modal__button--second) {
    padding: 15px;
  }

  .profile-modal__button:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }

  .profile-modal__button--second span {
    padding: 15px;
    font-size: 1rem;
  }

  .profile-modal__recover {
    margin: 0 0 0.9375rem 0;
    font-size: 0.75rem;
  }

  .profile-modal__text-social {
    margin: 0 0 0.9375rem 0;
    font-size: 0.75rem;
  }

  .profile-modal__item-social:not(:last-child) {
    margin: 0 0.9375rem 0 0;
  }

  .profile-modal__checkboxs {
    margin: 0 0 1.5625rem 0;
  }

  .profile-modal__checkbox:not(:last-child) {
    margin: 0 0 0.875rem 0;
  }
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
  .popup__content {
    padding: 1.875rem 1.875rem 2.1875rem;
  }

  .profile-modal__title {
    font-size: 26px;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .menu__item:not(:last-child) {
    margin: 0 1.25rem 0 0;
  }
}

@media (any-hover: hover) {
  .checkbox__text a:hover {
    color: #2d6291;
  }

  .select__option:hover {
    background: #329BF8;
  }

  .popup__close:hover {
    color: #329BF8;
  }

  .popup__close:hover svg {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .profile-modal__button:hover {
    -webkit-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
  }

  .profile-modal__recover:hover {
    color: #2d6291;
  }

  .profile-modal__item-social:hover svg {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .profile-modal__contact-button:hover {
    -webkit-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
  }

  .menu__link:hover::after {
    width: 100%;
  }
}