.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    padding: clamp-calc(15px, 20px);
    border: 1px solid #457c96;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-columns: .75fr .15fr .1fr;
    gap: clamp-calc(15px, 40px);
    align-items: center;
    transition: .5s ease;

    @include mobile {
        grid-template-columns: 1fr 1fr;
    }

    &:hover {
        @include tablet-from {
            background: rgba(0, 0, 0, 0.5);

            & .cart-item__title {
                & a {
                    color: #30caff;
                }
            }

            & .cart-item__remove-btn {
                color: #fff;
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: clamp-calc(60px, 140px) 1fr;
        gap: clamp-calc(15px, 20px);
        align-items: center;
        position: relative;

        @include mobile {
            grid-column: span 2;
            align-items: flex-start;
        }
    }

    &__picture {
        border-radius: 5px;
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    &__title {
        & a {
            display: flex;
            align-items: center;
            font-size: clamp-calc(15px, 22px);
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            gap: 10px;
            transition: .5s ease-in-out;

            @include mobile {
                align-items: flex-start;
            }
        }

        & span {
            min-width: 26px;
            max-width: 26px;
            height: 26px;
            border-radius: 50%;
            background: #001020;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__params {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        white-space: nowrap;
        gap: 10px;
        font-size: 12px;
        color: #b6c5d0;
    }

    &__price {
        font-size: clamp-calc(20px, 30px);
        font-weight: 700;

        @include mobile {
            padding-left: calc(clamp-calc(60px, 140px) + clamp-calc(15px, 20px));
        }
    }

    &__remove {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 2;

        &-btn {
            color: rgba(255,255,255,.4);
            transition: .5s ease-in-out;
        }
    }
}