.together-item {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    transition: .5s ease-in-out;
    padding: 0 clamp-calc(15px, 20px) clamp-calc(15px, 20px);
    gap: clamp-calc(15px, 20px);

    &:hover {
        @include tablet-from {
            background: rgba(255, 255, 255, 0.2);

            & .together-item__title {
                color: #30caff;
            }

            & .together-item__btn {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__picture {
        margin: 0 calc(clamp-calc(17px, 22px) * -1);
        border-radius: 7px 7px 0 0;
        overflow: hidden;
    }

    &__title {
        font-size: clamp-calc(18px, 24px);
        margin: 0;
        padding: 0;
        font-weight: 700;
        transition: .5s ease-in-out;
    }

    &__text {
        font-size: 14px;
        color: #b6c5d0;
        margin: 0;
        flex-grow: 1;
    }

    &__deadline {
        height: 40px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        font-size: clamp-calc(14px, 15px);
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 100%;

        @include desktop-medium {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price {
        font-size: 16px;
        color: #b6c5d0;
        font-weight: 700;
        display: flex;
        flex-direction: column;

        & span {
            color: #fff;
            font-size: 24px;
            gap: 5px;
        }
    }

    &__btn {
        height: 46px;
        border: 2px solid #8cb0c5;
        border-radius: 5px;
        transition: .5s ease-in-out;
        padding: 0 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
    }

    &__labels {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        z-index: 5;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        height: 28px;

        &._red {
            background: linear-gradient(0deg, #a42502 0%, #ec5400 100%);
        }

        &._blue {
            background: linear-gradient(180deg, #30caff 0%, #329bf8 54.17%, #3373f2 100%);
        }
    }
}