header.header
    .header__left
        a.logo(href="home.html")
            img.logo__img(src="@img/old/logo_white.svg" alt="Boost-Store - Boosting service" width="155" height="50")

        ul.header__navbar
            li.header__navbar-item.header__games-button.select_click
                button.header__navbar-link.header__navbar-link_games.select__button
                    svg.link-icon(width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="27" height="27" fill="url(#pattern0)")
                            defs
                                pattern(id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1")
                                    use(xlink:href="#image0" transform="scale(0.037037)")
                                image(id="image0" width="27" height="27" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAqklEQVRIie2VQQoDIRAE2xz8QfLihT3lCYE8TliIj6ggGDASxSGbQxYbPChd9BycGQEeWIBAWyF7klfFMbEJWDvGWmsVZmId8JB01piipEvhNLEpjOLBNYwtj4k9DVa1i2bYf4bF4k7jvBQr3sSmsJuhuHt1t7F55FyBrdP9W/Z8GlfDrHvv6d/q2L/RS1okhc6PCtnjK97GzhXT8MwVM8P2DZsr5rsVA/4JZqdJyEEiu18AAAAASUVORK5CYII=")
                    svg.link-icon_active(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 21L11 11M11 11L20.9999 1M11 11L20.9999 21M11 11L1 1" stroke="white" stroke-width="2" stroke-linecap="round")
                    span Games
                    svg.link-icon_arrow(width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L5 5L9 1" stroke="white" stroke-width="2" stroke-linecap="round")
            li.header__navbar-item.header__navbar-item_news.header__news-link.select_click
                a.header__navbar-link.header__navbar-link_news.select__button(href="#")
                    span.icon.link-icon
                    svg.link-icon_active(width="20" height="20" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 21L11 11M11 11L20.9999 1M11 11L20.9999 21M11 11L1 1" stroke="black" stroke-width="2" stroke-linecap="round")
                    span News
                    svg(width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L5 5L9 1" stroke="white" stroke-width="2" stroke-linecap="round")
            
                
            