meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="format-detection" content="telephone=no")
//Прелоад моих стилей и скриптов
link(rel="preload" href="css/style.min.css" as="style" fetchpriority="high")
link(rel="preload" href="js/app.min.js" as="script" fetchpriority="high")
title= seotitle
meta(name="description" content= seodescription)
meta(name="keywords" content= seokeywords)
//Чужие стили
link(href="files/components/main-slider/style.css" type="text/css" rel="stylesheet")
link(href="files/components/index-reviews/style.css" type="text/css" rel="stylesheet")
link(href="files/css/modals.css" type="text/css" data-template-style="true" rel="stylesheet")
link(href="files/css/swiper-bundle.min.css" type="text/css" data-template-style="true" rel="stylesheet")
link(href="files/css/style.css" type="text/css" data-template-style="true" rel="stylesheet")

//Мои стили
link(rel="stylesheet" href="css/style.min.css")

//Чужие скрипты
script(src="files/js/jquery-3.7.1.min.js")
script(src="files/js/jquery.cookies.js")
script(src="files/js/swiper-bundle.min.js")
script(src="files/js/utils.js")
script(src="files/js/script.js")
script(src="files/components/register-popup/script.js")
script(src="files/components/auth/script.js")
script(src="files/components/main-slider/script.js")
script(src="files/components/index-reviews/script.js")

//Мои скрипты
script(src="js/app.min.js" defer)